#body{
    margin: 0%;
}

#container{
    max-width: 300px;
    margin-left: 480px;
    margin-top: 100px;
}

#heading{
    color: blue;
    margin-left: 40px;
}

#tic-tac-grid{
    display: flex;
    flex-flow: row wrap; 
    text-align: center;
}

#tile11{
   border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
}


#tile12{
    border: 1px solid black;
     width: 80px;
     height: 80px;
     border-bottom: 0px;
     border-right: 0px;
 }

 
#tile13{
    border: 1px solid black;
     width: 80px;
     height: 80px;
     border-bottom: 0px;
 }

 
#tile21{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
 }

 
#tile22{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
 }
 
 
 #tile23{
     border: 1px solid black;
     width: 80px;
     height: 80px;
     border-bottom: 0px;
  }
 
  
 #tile31{
     border: 1px solid black;
     width: 80px;
     height: 80px;
     border-right: 0px;
  }
 
  
 #tile32{
     border: 1px solid black;
     width: 80px;
    height: 80px;
    border-right: 0px;
  }

  #tile33{
    border: 1px solid black;
    width: 80px;
    height: 80px;
  }

  #playerInfo{
    padding: 5px;
    margin-top: 30px;
    margin-left: 110px;
    width: 1000px;
    height : 20px;
    text-align: center;
    color: red;
  }