#body{
    margin: 0%;
}

#container{
    max-width: 300px;
    margin-left: 480px;
    margin-top: 100px;
}

#heading{
    color: blue;
    margin-left: 40px;
}

#tic-tac-box{
    display: flex;
    flex-flow: row wrap; 
    text-align: center;
}

#box1{
   border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
}


#box2{
    border: 1px solid black;
     width: 80px;
     height: 80px;
     border-bottom: 0px;
     border-right: 0px;
 }

 
#box3{
    border: 1px solid black;
     width: 80px;
     height: 80px;
     border-bottom: 0px;
 }

 
#box4{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
 }

 
#box5{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-bottom: 0px;
    border-right: 0px;
 }
 
 
 #box6{
     border: 1px solid black;
     width: 80px;
     height: 80px;
     border-bottom: 0px;
  }
 
  
 #box7{
     border: 1px solid black;
     width: 80px;
     height: 80px;
     border-right: 0px;
  }
 
  
 #box8{
     border: 1px solid black;
     width: 80px;
    height: 80px;
    border-right: 0px;
  }

  #box9{
    border: 1px solid black;
    width: 80px;
    height: 80px;
  }